:root{
    --black-color: #000000;
    --white-color: #ffffff;
    --tomato-color: #ff6347;
    --grey-color: #808080;
    --tomato-linear-gradient: linear-gradient(90deg, rgba(255, 99, 71,0.4) 0%, rgba(235, 77, 49,0.4) 100%);
 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.firstsection{
    border: 2px solid tomato;
    display: flex;
    height: 460px;
}

.firstsection-leftdiv{
    border: 2px solid black;
    height: 100%;
    width: 50%; 
    background: var(--white-color);
    padding: 20px;
}

.firstsection-leftdiv p{
    margin: 20px 0 20px 0;
}

.line{
    background: var(--tomato-color);
    height: 16px;
    width: 224px;
}

.logotext span{
    color: var(--tomato-color);
}

.logotext{
    margin: 0 0 20px 0;
}

.firstsection-rightdiv{
    border: 2px solid purple;
    height: 100%;
    width: 50%;
    background: var(--tomato-linear-gradient), url(images/image1.jpg);
    background-size: cover;
    background-position: bottom left;
}
.menu{
    border: 2px;
    display: flex;
    justify-content: space-evenly;
    color: var(--white-color);
    padding: 20px;
    text-transform: uppercase;
}
