@media screen and (max-width:600px) {
    .menu{
        flex-direction: column;
    }
    .menu h4{
        margin: 0 0 20px 0;
    }
}
.firstsection-leftdiv{
    width: 60%;
}

.firstsection-rightdiv{
    width: 40%;

}

.line{
    width: 200px;

}

.heading{
    font-size: 24px;
}

.firstsection{
    height: 520px;
}